body{
    background-color: rgb(127, 208, 255);
    
}

.todo{
    margin-top: 150px;
    margin-left: 200px;
    width: 440px;
    padding: 30px 30px;
    background-color: white;
    border-radius: 10px;
}

.todo h2{
    color: black;
    font-weight: bold;
    padding-right: 20px;
    display: flex;
    margin-left: 30%;



}

.todo h2 img{

    width: 30px;
    padding-left: 20px;


}

.row{

    display: flex;
    width: 100%;
    height: 40px;
    border-radius: 30px;
    padding-left: 20px;
    background-color: rgb(191, 200, 207);
    justify-content: space-between;


}

input{

    background: none;
    outline: none;
    border: none;
    font-size: 14px;
    padding-left: 20px;

}

button{

    border-radius: 30px;
    background-color: coral;
    width: 100px;
    height: 40px;
    text-align: center;
    color: white;
}

ul li{

    list-style:disc;
    font-size: 17px;
    margin-top: 10px;
    
    user-select: none;
    cursor: pointer;
    position: relative;




}